.page_wrpr {
    max-width: 1350px;
    margin:10px auto;
    background-color: grey;
}

.page_contentthing {
    max-width: 1300px;
    margin:15px auto;
    background-color: grey;
}

.galleryImage {
    outline: solid;
}

.charInfo {
  display: flex;
  justify-content: space-between;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #333333;
}

hr {
    background-color:black;
    border: none;
    height: 1px;
}

.myawesomecheat {
    background-color:grey;
    border: none;
    height: 1px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}