.page_wrpr {
    max-width: 1350px;
    margin:10px auto;
    background-color: grey;
}

.page_contentthing {
    max-width: 1300px;
    margin:15px auto;
    background-color: grey;
}

.galleryImage {
    outline: solid;
}

.charInfo {
  display: flex;
  justify-content: space-between;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #333333;
}

hr {
    background-color:black;
    border: none;
    height: 1px;
}

.myawesomecheat {
    background-color:grey;
    border: none;
    height: 1px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

p, h1, h2, h3, h4, li, a{
  font-family: woawtype;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

p, h4, li, a {
  font-size: 24px;
}

@font-face {
  font-family: woawtype;
  src: url(Woawfont.ttf);
}